.App {
  text-align: center;
  /* display: inline-block; */
  color: black;
}
.nav {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #A8303E;

}
/* .nav2 {
  background-color: #A8303E;
} */
.fab fa-linkedin-in fa-lg {
  /* padding-left: 10px; */
  display: flex;
  justify-content: space-around;
  margin: 0 2px;
  list-style: none;
}
.fab fa-github fa-lg {
  /* padding-right: 10em; */
}
.navbar {
  height: auto;
  width: 100%;
  position:relative;
  /* top: -30px; */
  z-index: 100;
  /* bottom: -100px; */
}
.container {
  width: 100%;
}
