.App {
  text-align: center;
  display: inline-block;
}
.nav {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #A8303E;

}
/* .nav2 {
  background-color: #A8303E;
} */
.fab fa-linkedin-in fa-lg {
  /* padding-left: 10px; */
  display: flex;
  justify-content: space-around;
  margin: 0 2px;
  list-style: none;
}
.fab fa-github fa-lg {
  /* padding-right: 10em; */
}
.navbar {
  height: auto;
  width: auto;
  position:relative;
  z-index: -20;
}
