body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

#landing_button {
	margin: 50vh 10px 0 10px;
}

#landing_button2 {
	margin: 50vh 10px 0 10px;
}

#landing_button3 {
	margin: 50vh 10px 0 10px;
}

.list_item {
	display: inline-block;
	width: 200px;
	height: 200px;
	padding: 200px;
}

.list_row {
	text-align: center;
}







