body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

#landing_button {
	margin: 50vh 10px 0 10px;
}

#landing_button2 {
	margin: 50vh 10px 0 10px;
}

#landing_button3 {
	margin: 50vh 10px 0 10px;
}

.list_item {
	display: inline-block;
	padding: 50px 50px 0 10px;
	position: relative;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

img {
	width: 300px;
	height: 300px;	
}

.list_row {
	text-align: center;
}







